[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzabbix = "==0.8.2"
slackclient = "==2.9.3"
requests = "==2.24.0"
uptime = "==3.0.1"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
